body {
  margin: 0;
  font-family: Arial, sans-serif;
}



.header {
  position: absolute;
  width: 100%;
  background-color: #383838;
  height: 5em;
  padding: 0 32px;
  box-sizing: border-box;

  h2.logo {
    color: hotpink;
  }

  nav {
    a {
      color: white;
      text-decoration: none;
      padding: 6px;
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url(../assets/hero_image.jpg);
  width: 100%;
  height: 100vh;

  .container {
    position: relative;
    left: 70px;
    top: 180px;
    text-align: center;

    .title {
      text-transform: uppercase;
      padding: 32px;
      text-shadow: 2px 2px 4px #000;
      margin: 0;
    }

    button {
      border: none;
      border-radius: 24px;
      padding: 16px 32px;
      background-color: hotpink;
      color: white;
      font-size: 1em;
    }
  }


}

